{% extends "base.html" %}
{% block content %}
<style>
    @import url('https://fonts.googleapis.com/css2?family=Chewy&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
    .login{
        color: black;
        font-family: "Chewy", serif;
        font-weight: 400;
        font-style: normal;
    }
    body{
      background-color: #6fe5ff;
    }


</style>
<div class="text-center mb-4">
    <!-- Logo centered above the login form -->
    <img src="\static\pics\logo.png" alt="Logo" class="logo" style="max-width: 150px;">
</div>


<h2 class="text-center login">Login</h2>
<form method="POST" action="{{ url_for('login') }}" class="mt-4 mx-auto" style="max-width: 400px;">
    {{ form.hidden_tag() }}
    <div class="mb-3">
        {{ form.username.label(class="form-label") }}
        {{ form.username(class="form-control") }}
    </div>
    <div class="mb-3">
        {{ form.password.label(class="form-label") }}
        {{ form.password(class="form-control") }}
    </div>
    <div class="mb-3 form-check">
        {{ form.remember_me(class="form-check-input") }}
        {{ form.remember_me.label(class="form-check-label") }}
    </div>
    <div class="d-grid">
        {{ form.submit(class="btn btn-primary") }}
    </div>
</form>
<p class="text-center mt-3">Don't have an account? <a href="{{ url_for('register') }}">Register here</a>.</p>
{% endblock %}
